.container {
    background-color: rgb(236, 178, 133);
}
.header {
    height: 100px;
    border: 1px solid white;
    margin-top: 10px;
}
.nav {
    background-color: brown;
    height: 300px;
    margin-top: 20px;
    border: 1px solid;
}
.profil {
    background-color: brown;
    height: 300px;
}